<h1> Acerca de la aplicación</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores eum necessitatibus inventore numquam autem, omnis distinctio, hic labore eos doloribus eius assumenda vero. Aut minima perferendis praesentium laborum consectetur tempora?